body {
    margin: auto;
    text-align: center;
    background-image: url('https://i.ytimg.com/vi/4gmrHQa7fEg/maxresdefault.jpg');
    background-repeat: no-repeat;
    background-size: cover;
    font-family: Roboto;
    color: white;
}

#board {
    margin:auto;
    border: solid black 5px;
    height:500px;
    width: 500px;
    opacity: 0.65;
    /* filter:url('#turbulence'); */
}

#scoreboard {
    height: 150px;
    width: 150px;
    margin: auto;
}

#scoreboard div {
    font-style: italic;
}

table td{
    border:1px solid #FF0000;
    background-color: white;
    height: 150px;
    width: 150px;
    font-size: 55px;
    font-weight: bold;
    color: black;
}

td:hover {
    cursor: pointer;
}

button {
    height: 50px;
    width: 100px;
    border-radius: 15px;
    margin:auto;
}

button:hover {
    cursor: pointer;
}
