body {
  margin: auto;
  text-align: center;
  font-family: Roboto;
}

#header h1 {
  color: orange;
  text-shadow: -1px 0 grey, 0 1px grey, 1px 0 grey, 0 -1px grey;
}

#main {
  margin: auto;
  text-align: center;
}

#homepage {
  margin: auto;
  height: 300px;
  width: 300px;
}

button {
  width: 150px;
  height: 28px;
  background-color: orange;
  border-radius: 15px;
  box-shadow: 0 8px 16px 0 rgba(0,0,0,0.2), 0 6px 20px 0 rgba(0,0,0,0.19);
  font-weight: bold;
  font-size: 15px;
}

button:hover {
  cursor: pointer;
}

label {
  display: inline-block;
  float: center;
  clear: left;
  width: 250px;
  text-align: left;
}

input {
  float: right;
}